DATABASE_URL=postgresql://user:password@host:5432/dbname
NEXT_PUBLIC_WEB_URL=https://standupindotimika.com
NEXT_PUBLIC_ADMIN_URL=https://admin.standupindotimika.com

# =======================================================
# 1. DATABASE (Bisa switch antara Local Docker & Neon.tech)
# =======================================================
# Untuk Neon.tech:
# DATABASE_URL: Ambil connection string mode Direct / Unpooled dari dashboard Neon
# DATABASE_URL_POOLED: Ambil connection string mode Pooled (biasanya berakhiran -pooler)
DATABASE_URL="postgresql://[user]:[password]@[ep-xyz].neon.tech/stup_db?sslmode=require"
DATABASE_URL_POOLED="postgresql://[user]:[password]@[ep-xyz]-pooler.neon.tech/stup_db?sslmode=require"

# *Jika ingin switch kembali ke Local Docker, cukup remark Neon dan buka ini:
# DATABASE_URL="postgresql://postgres:root@127.0.0.1:5432/stup_db"
# DATABASE_URL_POOLED="postgresql://postgres:root@127.0.0.1:5432/stup_db"

# =======================================================
# 2. CLOUDINARY STORAGE (Ambil dari Dashboard Cloudinary)
# =======================================================
# Dashboard -> API Keys & Product Environment
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Mode Storage: 'cloudinary' untuk cloud, 'local' untuk mock/local
STORAGE_PROVIDER="cloudinary"